@model IEnumerable<DuAn.Models.CartDetails>

@{
    ViewData["Title"] = "ShowCartao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- ========================= SECTION CONTENT ========================= -->
    <div class="container contact_container">
         <div class="row">
              <div class="col">

                  <!-- Breadcrumbs -->
                  <div class="breadcrumbs d-flex flex-row align-items-center">
                      <ul>
                          <li><a href="index.html">Home</a></li>
                          <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
                      </ul>
                  </div>

              </div>
         </div>
         <div class="row">
                <section class="section-content padding-y">
                    <div class="container">

                        <div class="row">
                        <main class="col-md-9">
                    <div class="card">

                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                    <th scope="col" class="text-right" width="200"> </th>
                                </tr>
                            </thead>
                            <tbody>
                      
                                    @foreach(var item in ViewBag.cart)
                                    {
                                       
                                    <tr>
                                    <td>
                                        <figure class="itemside">
                                            <div class="aside"><img src="@item.Product.LinkAnh" class="img-sm" style="width: 100px; height: 100px;"></div>
                                            <figcaption class="info">
                                                <a href="#" class="title text-dark">@item.Product.Name</a>
                                                <p class="small text-muted">Size: XL, Color: blue, Brand: Tissot</p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                       <div class="quantity_selector">
                                         <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                         <span id="quantity_value">@item.Quantity</span>
                                         <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                         </div>
@*                                        <select class="form-control">
			                                <option>@item.Quantity</option>
			                                	
		                                </select>*@
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">@item.Product.Price VNĐ</var>
                                            <small class="text-muted">@item.Product.Price VNĐ</small>
                                        </div>
                                        <!-- price-wrap .// -->
                                    </td>
                                    <td class="text-right">
                                        <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
                                        <a href="@Url.Action("RemoveCart","Cart",new{idsp=item.IdSP})" class="btn btn-light btn-round"> Remove</a>
                                    </td>
                                    </tr>                                        


                                    }

                            </tbody>
                        </table>

                        <div class="card-body border-top">
                            <a href="#" class="btn btn-primary float-md-right">Thanh Toán<i class="fa fa-chevron-right"></i> </a>
                            <a href="@Url.Action("RemoveAllCart","Cart")" class="btn btn-light"> Xóa hết </a>
                        </div>
                    </div>
                    <!-- card.// -->

                    <div class="alert alert-success mt-3">
                        <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
                    </div>

                </main>
                <!-- col.// -->
                <aside class="col-md-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label>Have coupon?</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="" placeholder="Coupon code">
                                        <span class="input-group-append"> 
							<button class="btn btn-primary">Apply</button>
						</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- card-body.// -->
                    </div>
                    <!-- card .// -->
                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                                <dt>Gía:</dt>
                                <dd class="text-right">@ViewBag.tota</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Phí ship:</dt>
                                <dd class="text-right">O VNĐ</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Tổng Tiền:</dt>
                                <dd class="text-right  h5"><strong>@ViewBag.tota</strong></dd>
                            </dl>
                            <hr>
                            <p class="text-center mb-3">
                                <img src="/images/payments.png" height="26">
                            </p>

                        </div>
                        <!-- card-body.// -->
                    </div>
                    <!-- card .// -->
                </aside>
                <!-- col.// -->
            </div>

        </div>
        <!-- container .//  -->
                </section>

            </div>
    </div>
