@model IEnumerable<DuAn.Models.Category>

@{
    ViewData["Title"] = "ShowAllCategoryAdmin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content" >

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Quản Lý Thể Loại</h3>
            <div class="d-flex justify-content-end">

            <a href="@Url.Action("CreateCategory","CategoryAdmin")" > 
            <button type="button" class="btn btn-primary" style="text-align:right">
            <i class="bi bi-pencil-square"> Thêm</i>
            </button>
            </a>

            </div>
        
        </div>
        <div class="card-body">
            
<table class="table">
    <thead>
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          @*  <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                 @if (item.Status == 0) {
                    <span>Còn </span>
                } else {
                    <span>Hết </span>
                }
              @*  @Html.DisplayFor(modelItem => item.Status)*@
            </td>
            <td>
                <a  class="btn btn-primary" href="@Url.Action("EditCategory","CategoryAdmin",new{id=item.Id})">Sửa</a>
                <a  class="btn btn-danger" href="@Url.Action("DetailCategorys","CategoryAdmin",new{id=item.Id})">Chi Tiết</a>
                <a  class="btn btn-warning" href="@Url.Action("DeleteCategory","CategoryAdmin",new{id=item.Id})">Xóa</a>
               
            </td>
        </tr>
}
    </tbody>
</table>

        </div>


        <div class="card-footer"> 

        </div>

    </div>

</section>