@model DuAn.Models.Product

@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    DuAn.Models.ShopDbContext db = new DuAn.Models.ShopDbContext();
}

<section class="content" >

    <div class="card">
        <div class="card-header">
            <h3 class="card-title"> Thông Tin Thêm Sản Phẩm</h3>

        </div>
        <div class="card-body"> 
            @using (Html.BeginForm("CreateProduct", "ProductAdmin", FormMethod.Post,new{enctype="multipart/form-data"}))
            {
                  @Html.HiddenFor(p => p.Id)
                  <form  method="post" >

                  <div class="bs-stepper-content">
                    <!-- your steps content here -->
                  

                      <div class="form-group">
                        <label for="exampleInputEmail1">Tên Sản Phẩm</label>
                           @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
                           @Html.ValidationMessageFor(Model => Model.Name, "", new { @class = "text-danger" })
                     
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Ảnh</label>
                           <input  type="file" id="imageFile" name="LinkAnh" />
                           @*@Html.ValidationMessageFor(Model => Model.LinkAnh, "", new { @class = "text-danger" })*@
                     
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Gía Bán</label>
                           @Html.TextBoxFor(p => p.Price, new { @class = "form-control" })
                           @Html.ValidationMessageFor(Model => Model.Price, "", new { @class = "text-danger" })
                     
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Số lượng có sẵn</label>
                           @Html.TextBoxFor(p => p.AvailableQuantity, new { @class = "form-control" })
                           @Html.ValidationMessageFor(Model => Model.AvailableQuantity, "", new { @class = "text-danger" })
                     
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Nhà Cung Cấp</label>
                           @Html.TextBoxFor(p => p.Supplier, new { @class = "form-control" })
                           @Html.ValidationMessageFor(Model => Model.Supplier, "", new { @class = "text-danger" })
                     
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Mô tả</label>
                           @Html.TextBoxFor(p => p.Description, new { @class = "form-control" })
                           @Html.ValidationMessageFor(Model => Model.Description, "", new { @class = "text-danger" })
                     
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Thể Loại</label>
                        <select class="form-control" name="CategoryId" asp-for="CategoryId">
                        @foreach(var category in db.Categorys.ToList())
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                        </select>
                     
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Màu</label>
                        <select class="form-control" name="ColorId">
                        @foreach(var Color in db.Colors.ToList())
                        {
                            <option value="@Color.Id">@Color.Name</option>
                        }
                        </select>
                     
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Size</label>
                        <select class="form-control" name="SizeId">
                        @foreach(var Size in db.Sizes.ToList())
                        {
                            <option value="@Size.Id">@Size.Kichthuoc</option>
                        }
                        </select>
                     
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Status</label>                    
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Status" id="Status1" value="0" checked>
                            <label class="form-check-label" for="Status1">
                                Còn Hàng
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Status" id="Status2" value="1" >
                            <label class="form-check-label" for="Status2">
                                Hết Hàng
                            </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <a href="/Admin/ProductAdmin/ShowAllProduct" class="btn btn-primary" >Quay Lại</a>
                        <button type="Submit" class="btn btn-danger" >Submit</button>
                      </div>

                      
               
             
                  </div>

                  </form>

           
            }

        </div>


        <div class="card-footer"> 


        </div>

    </div>

</section>

