@model DuAn.Models.User

@{
    ViewData["Title"] = "DetailUsers";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>DetailUsers</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
      @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
      <a asp-area="" asp-controller="TaiKhoan" asp-action="ShowAllUser">Quay Về QL Acc</a>
</div>

